<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background-color: black;">
    <div class="maincontant">
        {{>header}}
    <h3>{{errormessage}}</h3>
    </div>
    
    {{>footer}}
</body>
</html>