<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
    <body style="background: url(img/tornado.jpg); background-size:100%">
        <div class="maincontant">
        {{>header}}
        <img src="/img/hussein.JPG"> 
        </div>
    
    {{>footer}}
</body>
</html>