<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background: url(img/tornado.jpg); background-size:100%">
    <div class="maincontant">
      {{>header}}
    <h3>This page to help you</h3>  
    </div>
    {{>footer}}
    
</body>
</html>