<!DOCTYPE html>
<html lang="en">
<head>
    <title>weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/cloudy.png">
</head>
<body style="background: url(img/tornado.jpg); background-size:100%">
    <dev class='maincontant'>{{>header}}</dev>
    
    {{>footer}}
    
</body>
</html>